nav
  {
    display : flex ;
    justify-content : space-between ;
  }

 #message
  {
    width : 300px ;
    height : 300px ;
    padding : 10px ;
    resize : 16px ;
  }

 p
  {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  h1  
  {
    text-align: center;
    color: #007bff;
  }


footer 
 {
    background-color: #dfd3d3;
    color: white;
    text-align: center;
    padding: 10px;
 }
