{% extends "layout.html" %}

{% block title %} 
    CHANGE PASSWORD
{% endblock %}

{% block main %}

    <h3>Change your password here</h3>

    <form action = "/password" method = "POST">

        <div>
            <input type = "password" name = "current" placeholder = "current password">
        </div>
        <div>
            <input type = "password" name = "new" placeholder = "new password">
        </div>
        <div>
            <input type = "password" name = "confirm" placeholder = "confirm new password">
        </div>
        <button class = "btn btn-primary">SUBMIT</button>
    </form>

{% endblock %}